@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Query page description</h1>
    <p>Query page will basically list all the ProgramCourses in the database. In addition to that, it also has a filter option that filters the result by a selected program. 
    It also has a link to edit/add a program course.</p>
    <h1 class="display-4">CRUD page description</h1>
    <p>CRUD page will have an option to create, update, and deactivate the program course. It also has a drop-down list to select a program and course.
     It also has a filter option to filter the drop-down menus for course input. In addition, it also has a button to cancel the page and direct the user to the Query page.</p>
    <h1 class="display-4">ERD</h1> 
    <img src="img/ERD.png" alt="ERD">
    <p>Site Styling Decision: awsm.css</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
